*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: fontAwesome ;
    src: url(../fonts/fa-solid-900.ttf);
}
.bodyConAside{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 100px 300px 1fr 100px;
    grid-template-areas: "nav    nav    nav    nav"
                         "header header header header"
                         "main   main   main   aside"
                         "footer footer footer footer";
}
@media(max-width:576px){
    .bodyConAside{

        grid-template-rows: 70px 200px auto auto auto;
        grid-template-areas: "nav    nav    nav    nav"
                             "header header header header"
                             "main   main   main   main"
                             "aside aside   aside  aside"
                             "footer footer footer footer";
    }
}

.bodySinAside{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 100px 300px 1fr auto;
    grid-template-areas: "nav    nav    nav    nav"
                         "header header header header"
                         "main   main   main   main"
                         "footer footer footer footer";
}
.navegador{
    grid-area: nav;
    background-color:#0a1266 ;
    padding: 20px;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: end;
}
.buttonMenu{
    width: 30px;
    height: 25px;
    position: relative;
    display: none;
}
.buttonMenu > div {
    display: block;
    width: 30px;
    height: 0;
    border: 2px solid;
    border-radius: 5px;
    position: absolute;
    background-color: white;
}
.buttonMenu > div:nth-child(1){
    top: 0; 
}
.buttonMenu > div:nth-child(2) {
    transform: translate(0,-50%);
    top: 50%;   
}
.buttonMenu > div:nth-child(3){
    bottom: 0px;  
}
.cruz1{
    animation: cruz1 forwards .5s;
}
.cruz3{
    animation: cruz3 forwards .5s;
}
.opacidad{
    animation: opacidad forwards .5s;
}
.cruz1Invertida{
    animation: cruz1 forwards .5s reverse;
}
.cruz3Invertida{
    animation: cruz3 forwards .5s reverse;
}
.opacidadInvertida{
    animation: opacidad forwards .5s reverse ;
}
@keyframes cruz1 {
    0%{transform: rotateZ(0deg)}
    100%{transform: rotateZ(45deg);top: 10px}
}
@keyframes opacidad {
    0%{opacity: 100}
    100%{opacity: 0}
}
@keyframes cruz3 {
    0%{transform: rotateZ(0deg)}
    100%{transform: rotateZ(-45deg);top:10px;}
}
.navegador > ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
}

.navegador > ul > li{
    position: relative;
    
}

.verSubItems{
    max-height: 300px;
}

.navegador  ul  li  a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.navegador > ul > li > ul {
    max-height: 0px;
    overflow-y: hidden;
    position: absolute;
    z-index: 2;
    list-style-type: none;
    background-color: #0a1266;
    left: -10px;
    transition: 0.5s;
    
}
.navegador > ul >li > ul > li > a {
 font-size: 20px;
    
}
@media(max-width:576px){
    .navegador{
        justify-content: start;
    }
    .navegador i{

        position: absolute;
        z-index: 2;
        display: block;
        color: white;
        font-size: 36px;
    }
    .navegador > ul >li > ul {
        position: static;
        left: 0;
        
    }
    .navegador > ul > li{
        width: 150px;
        text-align: center;
        
    }
    .navegador > ul{
        position: fixed;
        overflow-y: scroll;
        z-index: 1;
        top: 0;
        left: -350px;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 70px;
        background-color: #0a1266;
        width: 250px;
        height: 100vh;
        transition: 0.2s;
    }
    .fondoInactividad{
        width: 100vw;
        height: 100vh;
        display: none;
        background-color: rgba(0, 0, 0, 0.719);
        position: fixed;
        z-index: 1;
    }

}
.encabezado{
    background-image: url(../img/piasaje.png);
    background-size: cover;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;

}

.encabezado-info {
    color: white;
}

main{
    grid-area: main;
}
.btn{
    margin-top: 10px;
    padding: 5px 25px;
    background-color: #121fb3 ;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
.subtitulo {
    margin: 10px;
}
.tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tarjeta{
    display: flex;
    width: 350px;
    gap: 10px;
    margin: 10px;
}
.tarjeta img {
    width: 120px;
}

aside{
    grid-area: aside;
}
.publicidades{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.publicidad {
    width: 150px;
    height: 100px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
}
.publicidad h4{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 12px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.582);
    color: white;
}

.publicidad img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer{
    grid-area: footer;
    background-color: #121fb3;
}

.formulario{
    background-color:#121fb3 ;
    max-width: 800px;
    margin: 20px auto ;
    border-radius: 10px;
    color: white;
    padding: 30px;
    margin-bottom: 10px;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 60px;
    grid-template-areas:  " titulo    titulo"
                          "nomApell  email"
                          "tel       asunto"
                          "mensaje   mensaje"
                          "button    button";
}
@media(max-width:800px){
    .formulario{
        width: 100vw;
        margin: 20px 0px;
        border-radius: 0px;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 60px;
        grid-template-areas:  "titulo"
                              "nomApell"
                              "email"
                              "tel"
                              "asunto"
                              "mensaje"
                              "button ";
    }
}

.formulario h2{
    grid-area: titulo;
}

.formulario label:nth-child(2){
    grid-area: nomApell;
}

.formulario label:nth-child(3){
    grid-area: email;
}

.formulario label:nth-child(4){
    grid-area: tel;
}
.formulario label:nth-child(5){
    grid-area:asunto;
}
.formulario label:nth-child(6){
    grid-area:mensaje;
}
.formulario button:nth-child(7){
    grid-area:button;
    width: 200px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: #0a1266;
    margin-top: 20px;
}


.formulario label {
    display: flex;
    flex-direction: column;

}

.formulario label input , .formulario label textarea {
    background-color:transparent;
    border: 0;
    border-bottom: 1px solid white;
    margin-top: 10px;
    outline: none;
    color: white;
}

.btn2{
    background-color: transparent;
    border: none;
    color: white;
    padding: 12px 18px;
    position: relative;
    z-index: 1;
    margin: 10px;
}
.btn2 > i {
    margin-left: 20px;
}

.btn2::before{
    content: "";
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-color: red;
    position: absolute;
    z-index: -1;
    left: 83px;
    transform: translate(0,-50%);
    top: 50%;
    transition: width 0.25s ,left 0.25s 0.25s;

}

.btn2:hover::before{
    left: 0;
    width: 100%;
    transition: left 0.25s , width 0.25s 0.25s;
    


}

footer{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

footer .compania{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    
}

footer > .sucursales > .sucursal{
    width: 200px;
    padding: 10px;
}

footer > .sucursales {
    display: flex;
    padding: 10px;

}
footer > .sucursales > .sucursal h3{
    margin-bottom: 10px;
}
footer > .sucursales > .sucursal >ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}

footer > .sucursales > .sucursal > ul > li> a{
    color: inherit;
    text-decoration: none;
}
@media(max-width:630px){
    footer > .sucursales {
       flex-wrap: wrap;
        padding: 10px;
    
    }
}